{{ define "content" -}}
<article class="post bg-white">
  <div>  
    <img src="/homepage-image.png" style="float:right;width:40%">
    <h1>Welcome</h1>
    Jeroen and Kathryn invite you to celebrate their wedding on October 7, 2023!  We hope you’ll be able to join us on this very special day!

    After having our wedding in the Netherlands on April 21, 2023, we will be having our  Canadian celebration on Thanksgiving weekend – a religious ceremony, followed by a reception.
    <!-- post-header -->
      <h1 class="post-title">{{ .Title }}</h1>
  </div>

  <h1>{{ i18n "OurStoryTitle" . }}</h1>
  {{ i18n "OurStory" . }}
</article>

{{- end }}
