{{ define "content" -}}
<article class="post bg-white">
  <div>  
    <img src="/cover-photo.png" style="float:right;width:40%">
    <h1>{{ i18n "IntroTitle" . }}</h1>
    {{ i18n "IntroText" . }}
    <!-- post-header -->
      <h1 class="post-title">{{ .Title }}</h1>
  </div>

  <h1>{{ i18n "OurStoryTitle" . }}</h1>
  {{ i18n "OurStory" . }}

  <br/>
  <div style="text-align: center;">
    <img src="/weduploader-qr-code.png" style="float: center;">
    <a class="link" style="text-align: center;" href="https://weduploader.com/upload/yKW7L4kbcGpCBMpe">{{ i18n "PhotoUpload" . }}</a>
  </div>

  <h1>{{ i18n "LanguageTitle" . }}</h1>
  {{ i18n "LanguageText" . }}:

    <ul>
      {{ range $.Site.Home.AllTranslations }}
        <li><a class="link" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
      {{ end }}
    </ul>


</article>

{{- end }}
